<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

    <!--회원가입-->
    <insert id="insertMember">
        INSERT INTO member(userId, userPwd, userName, email, phone, dateOfBirth)
        VALUES(#{userId}, #{userPwd}, #{userName}, #{email}, #{phone}, #{dateOfBirth})
   </insert>

    <!--로그인-->
    <select id="login" resultType="ROOT.VO.MemberVO">
        SELECT userId, userPwd
        FROM member
        WHERE userId = #{userId} AND userPwd = #{userPwd}
    </select>

    <!--회원정보 수정-->
    <update id="changeInfo">
        UPDATE member
        SET userPwd = #{userPwd},
            userName = #{userName}
        WHERE userId = #{userId}
    </update>

    <!--아이디 중복확인-->
    <select id="idDoubleCheck" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE userId = #{userId}
    </select>

    <!-- 회원탈퇴 -->
    <delete id="memberWithdraw">
        DELETE FROM member
        WHERE userId = #{userId}
          AND userPwd = #{userPwd}
    </delete>

    <!-- 회원정보 가져오기-->
    <select id="getMemberInfo" resultType="ROOT.VO.MemberVO">
        SELECT userId, userName, email, phone, dateOfBirth, reg_date
        FROM member
        WHERE userId = #{userId};
    </select>
</mapper>