<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

    <!-- 주문 정보 등록 -->
    <insert id="addOrder">
        INSERT INTO orders(pdtId, memberId, paymentType, totalAmount, quantity,
                           recipientName, recipientPhone, recipientAddress, recipientMemo)
        VALUES(#{productVO.pdtId}, #{memberVO.userId}, #{paymentType}, #{totalAmount}, #{quantity},
               #{recipientVO.recipientName}, #{recipientVO.recipientPhone},
               #{recipientVO.recipientAddress}, #{recipientVO.recipientMemo})
    </insert>

    <!-- 개인별 주문내역 -->
    <select id="getOrderList" resultMap="orderResultMap">
        SELECT p.pdtId, pdtName, pdtPrice, pdtImageURL, orderId, orderDate, orderStatusType, totalAmount, quantity
        FROM orders o, product p
        WHERE o.pdtId = p.pdtId AND o.memberId = #{userId};
    </select>

    <!-- 주문번호별 주문상세내역 -->
    <select id="getOrderDetail" resultMap="orderResultMap">
        SELECT *
        FROM orders o, product p
        WHERE o.pdtId = p.pdtId AND o.orderId = #{orderId};
    </select>

    <resultMap type="ROOT.VO.OrderVO" id="orderResultMap">
        <id property="orderId" column="orderId"/>
        <result property="orderDate" column="orderDate"/>
        <result property="orderStatusType" column="orderStatusType"/>
        <result property="paymentType" column="paymentType"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="quantity" column="quantity"/>
        <association property="recipientVO"  javaType="ROOT.VO.RecipientVO" >
            <result property="recipientName" column="recipientName"/>
            <result property="recipientPhone" column="recipientPhone"/>
            <result property="recipientAddress" column="recipientAddress"/>
            <result property="recipientMemo" column="recipientMemo"/>
        </association>
        <association property="productVO"  javaType="ROOT.VO.ProductVO" >
            <result property="pdtId" column="pdtId"/>
            <result property="pdtName" column="pdtName"/>
            <result property="pdtPrice" column="pdtPrice"/>
            <result property="pdtImageURL" column="pdtImageURL"/>
        </association>
    </resultMap>

</mapper>